cycler==0.10.0
Cython==0.29.13
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.1
object-detection==0.1
opencv-python==4.1.1.26
Pillow==6.1.0
protobuf==3.9.1
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.1.2
six==1.12.0
slim==0.1
torch==0.3.1
torchvision==0.2.2
tqdm==4.19.9
websockets==8.0.2
