<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.cs.openrtist">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <activity
            android:name=".MexSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MexServerListActivity"
            android:theme="@style/MyGabrielMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.cmu.cs.openrtist.MexServerListActivity" />
        </activity>
        <activity
            android:name=".MexServerListActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensor"
            android:theme="@style/MyGabrielMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>